<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {{ bootstrap.load_css() }}
        {{ fontawesome_html() }}
        {{ bootstrap.load_js() }}
        <!-- Select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <title>Yummy Week</title>
    </head>
    <body>

        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}

            <div class="page-header mt-5">
                <h2>
                    {% block page_header %}{% endblock %}
                </h2>
            </div>

            {% block page_content %}{% endblock %}
        </div>
    </body>
</html>

