{% extends "base.html" %}

{% block page_content %}
<h2 class="text-center">
    <a class="btn btn-light btn-lg p-2" href="{{url_for('.calendar_today')}}">⊙</a>
    <a class="btn btn-light btn-lg p-2" href="{{url_for('.calendar_month', year=prev[0], month=prev[1])}}">&laquo;</a>
    {{monthname}} {{year}}
    <a class="btn btn-light btn-lg p-2" href="{{url_for('.calendar_month', year=next[0], month=next[1])}}">&raquo;</a>
</h2>

<div class="table-responsive">

<table class="table">

    <tr>
        {% for wd in weekdays %}
        <th class="text-center">{{wd}}</th>
        {% endfor %}
    </tr>
    {% for week in weeks%}
    <tr>
        {% for day in week %}
        <td>
            {% if day %}
            <div class="card">
                <div class="card-header border-light p-2 d-inline-flex {% if day == today %} bg-success {% endif %}">
                    <h6 class="mr-2">
                        {{ '⊙' if day == today else ''}} {{ day }}
                    </h6>
                    <div class="ml-auto">
                        <a class="btn btn-outline-secondary btn-sm p-1" data-toggle="modal" data-target="#AddMealModal" data-day="{{day}}"> <i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        {% for meal in history[day] %}
                        <li class="list-group-item p-1"><small>{{mealnames[meal]}}</small></li>
                        {% endfor %}
                        {% for sugg in suggestions[day] %}
                        <li class="list-group-item p-1">Ⓢ <small><em><b>{{mealnames[sugg]}}</b></em></small></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            {% endif %}

        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>

{% import 'bootstrap4/form.html' as wtf %}

<div class="modal" id="AddMealModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Meals</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{url_for('.add_meal', year=year, month=month)}}">
                    {{ mealform.hidden_tag() }}
                    {{ mealform.meals(class="form-select meals-select2") }}
                    {{ mealform.submit() }}
                </form>
                <div class="card mt-3" id="sugg-panel">
                    <div class="card-header">
                        <b>Suggestions</b>
                        <span class="badge badge-pill badge-success" id="use_sugg">Use <i class="fa-solid fa-arrows-up-to-line"></i></span>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush" id="suggestions">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{{url_for('.calendar_script', year=year, month=month)}}">
</script>
{% endblock %}
