{% extends "base.html" %}


{% block page_content %}

<div class="pb-3 d-flex justify-content-between">
    <h4>Dishes & meals</h4>
    <div>
        <a type="button" class="btn btn-sm btn-success" href="{{url_for(".add_dish", dish_type="dish")}}"> Add dish &nbsp <i class="fa fa-plus"></i> </a>
        <a type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#FileUploadModal"> Upload dishes &nbsp <i class="fa fa-file"></i> </a>
    </div>
</div>

<div class="card-columns">

{% for meal in meals %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ meal.name }} </h5>
        <hr/>
        <div style="height: 38px;" class="btn btn-light"><img src="{{ url_for('static', filename='cutting-board-icon.svg') }}" height="20"></img> <b>{{meal.prep_time_m}}mn</b></div>
        <div style="height: 38px;" class="btn btn-light"><img src="{{ url_for('static', filename='non-stick-icon.svg') }}"  height="12" ></img> <b>{{meal.cooking_time_m}}mn</b></div>
    </div>
</div>
{% endfor %}

</div>


{% from 'bootstrap4/form.html' import render_field %}

<div class="modal" id="FileUploadModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload dishes from spreadsheet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>TODO: Write description</span>
                <form method="POST" enctype="multipart/form-data" action="{{url_for('meals.upload_meals')}}">
                    {{ upload_form.hidden_tag() }}
                    {{render_field(upload_form.xlsx_file)}}
                    {{render_field(upload_form.submit)}}
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
