{% extends "base.html" %}

{% block page_header %}
    <a href="{{ url_for('main.index') }}"><i class="fas fa-home"></i></a>
{% endblock %}


{% block page_content %}
<h2 class="text-center">
    <a class="btn btn-light btn-lg p-2" href="{{url_for('.date_plans', year=prev[0], month=prev[1])}}">&laquo;</a>  {{monthname}} {{year}}  <a class="btn btn-light btn-lg p-2" href="{{url_for('.date_plans', year=next[0], month=next[1])}}">&raquo;</a>
</h2>

<div class="table-responsive">

<table class="table">

    <tr>
        {% for wd in weekdays %}
        <th class="text-center">{{wd}}</th>
        {% endfor %}
    </tr>
    {% for week in weeks%}
    <tr>
        {% for day in week %}
        <td>
            {% if day %}
            <div class="card">
                <div class="card-header p-2 d-inline-flex">
                    <h6 class="mr-2">{{ day }}</h6>
                    <div class="ml-auto">
                        <a class="btn btn-outline-secondary btn-sm p-1" data-toggle="modal" data-target="#AddMealModal" data-day="{{day}}"> <i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        {% for meal in history[day] %}
                        <li class="list-group-item p-1"><small>{{mealnames[meal]}}</small></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            {% endif %}

        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>

{% import 'bootstrap/form.html' as wtf %}

<div class="modal" id="AddMealModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Meals</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{url_for('.add_meal', year=year, month=month)}}">
                    {{ mealform.hidden_tag() }}
                    {{ mealform.meals(class="form-select meals-select2") }}
                    {{ mealform.submit() }}
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    // enabling select2
    $(document).ready(function() {
        $('.meals-select2').select2(
            {
                dropdownAutoWidth : true,
                width : '100%',
                dropdownParent: $('#AddMealModal')
            }
        );
    });

    // passing data on to the form
    $('#AddMealModal').on('show.bs.modal', function (event) {
        let day = $(event.relatedTarget).data('day')
        $(this).find('.modal-body #day').val(day)
        $.ajax({
            type: 'POST',
            url: '{{ url_for('.selected_meals', year=year, month=month) }}',
            data: {'day': day}
          }).then(function (data) {
            $('.meals-select2').val(data);
            $('.meals-select2').trigger('change');
            console.log($('.meals-select2').select2('data'))
          })
    })
</script>
{% endblock %}
