{% extends "base.html" %}

{% block page_content %}

<div class="pb-3 d-flex justify-content-between">
    <div>From date {{ start_date }} for {{ nb_days }} days:</div>

    <div>
        <a type="button" class="btn btn-sm btn-success" href="{{url_for(".shoppinglist")}}"> Shopping list &nbsp <i class="fa fa-basket-shopping"></i> </a>
        <a type="button" class="btn btn-sm btn-info" href="{{url_for(".redo_suggest")}}"> Retry ↻ </a>
    </div>
</div>

<div class="table-responsive">
<table class="table table-hover">
  <thead class="thead-light text-center">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Lunch</th>
      <th scope="col">Dinner</th>
    </tr>
  </thead>
  <tbody>
{% for day,date in dates %}
    <tr>
        <th scope="row text-center">{{day}} {{date}}</th>
        <td>
            <div class="card">
            {% set lunch, l_committed = suggested_lunches[loop.index0] %}
            {% if l_committed %}
                <div class="card-header text-center text-nowrap bg-success">{{mealnames[lunch]}}</div>
                <div class="card-body">
                    <a type="button" class="btn btn-light"  href="{{url_for('.uncommit_suggestion', date=date, time='L')}}"> <i class="fa-regular fa-calendar-check"></i> Remove</a>
                </div>
            {% else %}
                <div class="card-header text-nowrap text-center">
                    {{mealnames[lunch]}}
                    <a type="button" class="btn btn-sm"  data-toggle="modal" data-target="#ModifySuggestionModal" data-date="{{date}}/L"><i class="fas fa-edit"></i></a>
                </div>
                <div class="card-body">
                    <a style="height: 38px;" type="button" class="btn btn-light"  href="{{url_for('.commit_suggestion', date=date, time='L')}}"><i class="fa fa-calendar-plus"></i> Add</a>
                    <div style="height: 38px;" class="btn btn-light"><img src="{{ url_for('static', filename='cutting-board-icon.svg') }}" height="20"></img> <b>{{prep_times[lunch]}}mn</b></div>
                    <div style="height: 38px;" class="btn btn-light"><img src="{{ url_for('static', filename='non-stick-icon.svg') }}" height="12" ></img> <b>{{cooking_times[lunch]}}mn</b></div>
                </div>
            {% endif %}
            </div>
        </td>
        <td>
            <div class="card">
            {% set dinner, d_committed = suggested_dinners[loop.index0] %}
            {% if d_committed %}
                <div class="card-header text-center text-nowrap bg-success">{{mealnames[dinner]}}</div>
                <div class="card-body">
                    <a type="button" class="btn btn-light"  href="{{url_for('.uncommit_suggestion', date=date, time='D')}}"> <i class="fa-regular fa-calendar-check"></i> Remove</a>
                </div>
            {% else %}
<!--                <div class="card-header text-nowrap text-center">-->
                <div class="card-header  text-center">
                    {{mealnames[dinner]}}
                    <a type="button" class="btn btn-sm"  data-toggle="modal" data-target="#ModifySuggestionModal" data-date="{{date}}/D"><i class="fas fa-edit"></i></a>
                </div>
                <div  class="card-body">
                        <a style="height: 38px;" type="button" class="btn btn-light"  href="{{url_for('.commit_suggestion', date=date, time='D')}}"><i class="fa fa-calendar-plus"></i> Add</a>
                        <div style="height: 38px;" class="btn btn-light"><img src="{{ url_for('static', filename='cutting-board-icon.svg') }}" height="20"></img> <b>{{prep_times[dinner]}}mn</b></div>
                        <div style="height: 38px;" class="btn btn-light"><img src="{{ url_for('static', filename='non-stick-icon.svg') }}"  height="12" ></img> <b>{{cooking_times[dinner]}}mn</b></div>
                </div>
            {% endif %}
            </div>
        </td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>

{% from 'bootstrap4/form.html' import render_field %}
<div class="modal" id="ModifySuggestionModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify Suggestion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{url_for('.modify_suggestion')}}">
                    {{ suggestion_form.hidden_tag() }}
                    {{ render_field(suggestion_form.suggestion, class="form-select suggestion-select2") }}
                    {{ render_field(suggestion_form.submit) }}
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('.planner_script')}}"></script>

{% endblock %}